body{
    background-color: white;
}
.navbar-dark{
    background-color: black;
}
header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 10rem;
    text-align: center;
    color: #fff;
    background-image: url("../assets/img/bg-masthead2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.main-heading{
    color: white;
}
.page-section {
    padding: 6rem 0;
}
.picture{
    width: 100px;
}
.picture-burger{
    width: 150px;
}